    <div class="points wrap cf">
        <!-- Row 1 -->
        <div class="row first">
        <div class="point home">
            <h3>In-home tutoring</h3>
                <p>
                    Learn in the comfort of your home. Sam will come to you anywhere in Manhattan, western Queens, or downtown Brooklyn.
                </p>
            </div>

            <div class="point sat">
                <h3>SAT & NYS Regents</h3>
                <p>
                    Sam has extensive experience with SAT Math and the Math Regents exams. Affordable lesson blocks available.
                </p>
            </div>

            <div class="point homework">
                <h3>Homework help</h3>
                <p>
                    Improve your understanding and do better in school. Efficient homework help offered in Geometry, Algebra, and Precalculus.
                </p>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row last">
            <div class="point email">
                <h3>Email support</h3>
                <p>
                    Free math help outside of sessions, even for non-students. Shoot Sam a note at <a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a>.
                </p>
            </div>

            <div class="point schedule">
                <h3>Flexible scheduling</h3>
                <p>
                    Mornings, nights, and weekends.
                </p>
            </div>

            <div class="point call">
                <h3>Call today!</h3>
                <p>
                    Call or text <a href="tel: +16466233224">(646) 623-3224</a> any time.
                </p>
            </div>
        </div>
    </div>