

<!DOCTYPE html>
<html>
    <head>
        <title>Sam Nebel Math Tutoring</title>
        <meta name="fb_admins_meta_tag" content=""/>
        <meta name="keywords" content="Math tutor, Regents, SAT Math, SAT tutor, test prep"/>
        <meta name="description" content="NYC based Math Tutor specializing in SAT Prep and NYS Regents exams."/>

        <!-- Meta -->
        <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">
        <link rel="logo" type="image/svg" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">
        <meta property="og:title" content="Sam Nebel Math Tutoring"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.samnebel.com/"/>
        <meta property="og:site_name" content="Sam Nebel Math Tutoring"/>
        <meta property="og:description" content="NYC based Math Tutor specializing in SAT Prep and NYS Regents exams."/>
        <!-- Styles -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" type="text/css" rel="stylesheet">
        
        <link rel="stylesheet" href="http://snebel.github.io/website/index.css" type="text/css" />


        <!-- Javascripts -->
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>-->
        
        <!--<script type="text/javascript" src="https://d343nkq91ijxgw.cloudfront.net/CACHE/js/0aeaf073bbab.js"></script>-->
        
        <!--Makes image bounce up on open. Not sure what above scripts do-->
        <script type="text/javascript" src="https://d343nkq91ijxgw.cloudfront.net/CACHE/js/a3f4ce9bab06.js"></script>

        <style>
            img[id="main"] {
                border-radius: 20px;
                opacity: 0.7;
            }
        </style>
    </head>


    <body class="public homepage">

    <!-- BEGIN Content -->
    <div class="content ">
            
    <div class="lead">
        <div class="wrap">
            <header>
            <!--
                <a href="/"><img src="file:///Users/Nebs/Downloads/calculator_buttons_checkmark.png" id="logo" height="100%" width="100%"></a>

                <nav>
                    <a href="file:///Users/Nebs/Desktop/HTML/Contact.html">Contact</a>
                </nav>
            -->
            </header>

            <h1>Welcome to Sam Nebel Math Tutoring</h1>
            <h2><em>Learn Math the right way.</em> Improve your grades and scores, guaranteed.</h2>

            
            <div class="call-to-action">
                <!-- BEGIN Mailchimp form -->
                
                <div id="mc_embed_signup" class="signup-form">
                
                    <img src="http://static.wixstatic.com/media/6547d9_a5e899f1dda8b6f70bf099ae51a2353e.png_srz_107_131_75_22_0.50_1.20_0.00_png_srz" width="80px"> 
                    <form action="MAILTO:sam@samnebel.com?subject=Math%20Question" method="post" enctype="text/plain" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        
                        
                        <input type="text" value="" name="Q" class="email" id="mce-EMAIL" placeholder="Ask me a question!" autocorrect="off" spellcheck="false" required>
                        <button type="submit" id="mc-embedded-subscribe">
                            <span class="icon"></span>
                        </button>

                    </form>
                
                
                </div>
                
            </div>
            
            <!--
            <div id="preview">
                <img id="main" src="http://watchdog.org/wp-content/blogs.dir/1/files/2013/06/board-math.jpg">
            </div>
            --> 
            
        </div>
    </div>

    <div class="points wrap cf">
        <!-- Row 1 -->
        <div class="row first">
        <div class="point home">
            <h3>In-home tutoring</h3>
                <p>
                    Learn in the comfort of your home. Sam will come to you anywhere in Manhattan, western Queens, or downtown Brooklyn.
                </p>
            </div>

            <div class="point sat">
                <h3>SAT & NYS Regents</h3>
                <p>
                    Sam has extensive experience with SAT Math and the Math Regents exams. Affordable lesson blocks available.
                </p>
            </div>

            <div class="point homework">
                <h3>Homework help</h3>
                <p>
                    Improve your understanding and do better in school. Efficient homework help offered in Geometry, Algebra, and Precalculus.
                </p>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row last">
            <div class="point email">
                <h3>Email support</h3>
                <p>
                    Free math help outside of sessions, even for non-students. Shoot Sam a note at <a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a>.
                </p>
            </div>

            <div class="point schedule">
                <h3>Flexible scheduling</h3>
                <p>
                    Mornings, nights, and weekends.
                </p>
            </div>

            <div class="point call">
                <h3>Call today!</h3>
                <p>
                    Call or text <a href="tel: +16466233224">(646) 623-3224</a> any time.
                </p>
            </div>
        </div>
    </div>

        </div>
        <!-- END Content -->

        <!-- BEGIN Footer -->
        
    <footer>
        <div class="wrap">
            <nav>
            <div class="column">
                <a href="file:///Users/Nebs/Desktop/HTML/index.html">Home</a>
                <a href="file:///Users/Nebs/Desktop/HTML/About.html">About Sam</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Rates.html">Rates</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Testimonials.html">Testimonials</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Faq.html">FAQ</a>
            </div>
            </nav>
            <div class="column last">
                <p>Sam Nebel Math Tutoring, ack: <a href="http://flek.co" target="_blank" class="orange">Flek</a></p>
            </div>
        </div>
    </footer>

    </body>
</html>
