<!DOCTYPE html>
<html>
  <head>
    <title>Rates & Info</title>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">
    <link rel="logo" type="image/svg" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">

    <!-- Styles -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" type="text/css" rel="stylesheet">
        
    <link rel="stylesheet" href="file:///Users/Nebs/Desktop/HTML/Rates.css" type="text/css" />

  <!-- Javascripts. Necessary? Don't seem to affect...
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        
    <script type="text/javascript" src="https://d343nkq91ijxgw.cloudfront.net/CACHE/js/0aeaf073bbab.js"></script>
  -->
  </head>
  
  <!-- Body -->
  <body class="legal">
    <!-- BEGIN Header --> 
    <header id="header">

      <div class="wrap">
        
        <div id="left-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/16x16/contact.png">-->
            <a href="tel: +16466233224">(646) 623-3224</a></p>
        </div>

        <div id="right-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/munich/16x16/email.png">-->
            <a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        </div>

      </div>
    </header>
        <!-- END Header -->

    <!-- BEGIN Content -->
    <div class="content "> 
      <div class="wrap">
      <h1>Rates & Information</h1>
        <section>
          <h2>Location</h2>
          <p>Tutoring occurs at the student's home or other location in Manhattan, western Queens, or Downtown Brooklyn. Rates include travel costs and email support between sessions.
          </p>

          <h2>SAT Math Crash Course: $1,100*</h2>
          <p>5 weeks, 10 sessions, 10 practice tests, priority scheduling. Individualized study plans and test-taking strategy to help each student reach his or her goal score.
          </p>

          <h2>SAT Prep: $120*/90 mins, $150*/2 hours</h2>
          <p>Sam tailors SAT sessions to meet each student's needs. Every session begins by going over a practice test the student completes for homework, and then working on a set of questions focused on a specific topic. See the FAQ page for more info on Sam's method for tutoring the SAT.
          </p>
          <p>Note: 60 minutes goes by too quickly for students to absorb new SAT skills. The recommended session length is 90 minutes, though 2 hour sessions are available if extra help is needed.
          </p>

          <h2>Regents Prep: $60*/hour</h2>
          <p>Thorough preparation for the Geometry, Integrated Algebra, or Algebra 2/Trigonometry exam. 
          </p>

          <h2>Geometry, Algebra, Precalculus help: $50*/per hour</h2>
          <p>Sam offers homework help and test prep in these three subjects only. 
          </p>
          <p><b>*</b>The above rates are Sam's standard fees, but he is always flexible depending on financial situations.
          </p>
        </section>
      </div>
    </div>
        <!-- END Content -->

        <!-- BEGIN Footer -->
    <footer>
        <div class="wrap">
          <nav>
            <div class="column">
                <a href="file:///Users/Nebs/Desktop/HTML/index.html">Home</a>
                <a href="file:///Users/Nebs/Desktop/HTML/About.html">About Sam</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Rates.html">Rates</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Testimonials.html">Testimonials</a>
                <a href="file:///Users/Nebs/Desktop/HTML/Faq.html">FAQ</a>   
            </div>
          </nav>
            <div class="column last">
                <p>Sam Nebel Math Tutoring, ack: <a href="http://flek.co" target="_blank" class="orange">Flek</a></p>
            </div>
        </div>
    </footer>
  </body>
</html>
