<header id="header">
      <div class="wrap">
        <div id="left-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/16x16/contact.png">-->
          <a href="tel: +16466233224">(646) 623-3224</a></p>
        </div>
        <div id="right-navigation">
          <p><!--<img src="https://cdn1.iconfinder.com/data/icons/munich/16x16/email.png">-->
          <a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        </div>
      </div>
</header>