.button,
button {
  border: none; 
}

a,
a:visited {
  color: #333;
  position: relative;
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: #ff770d;
}

.wrap {
    margin: 0 auto;
    width: 990px;
}

/* Footer */
footer {
    border-top: 1px solid #ddd;
    padding: 50px;
}

footer .column {
    float: left;
    width: 50%;
}

footer .column.last {
    text-align: right;
}

footer p {
    color: #9099A3;
    font-size: 14px;
    font-weight: 300;
}

footer a {
    color: #3E4956;
    font-size: 14px;
    margin-right: 15px;
}

footer a.orange {
    color: #FF770D;
    font-weight: 600;
    margin: 0;
}

::selection {
    color: #ff770d;
}

body {
  background-color: #f4f3f3;
}

form,
input {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

input:focus,
input:active {
    outline: none;
}

a {
    border: none;
    outline: none;
}

img {
    border: none;
    display: block;
    outline: none;
}

svg {
    border: none;
    outline: none;
}

h1 {
    color: #3E4956;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: #9099A3;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

h2 em {
    color: #3E4956;
    font-style: normal;
}

.wrap {
    margin: 0 auto;
    width: 990px;
}

.content {
    padding: 0;
}

/* Lead */
.lead {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.lead .button {
    font-size: 20px;
    font-weight: 300;
    padding: 15px 20px;
}

.lead h2 {
    line-height: 2.0;
}

.lead header {
    margin: 25px 0 25px 0;
    position: relative;
    text-align: center;
}

.lead header a {
    display: block;
    margin: 0 auto;
    width: 60px;
}

.lead header img {
    display: block;
}

.call-to-action {
    padding: 10px 0 50px 0;
    text-align: center;
}


.call-to-action img {
    border-radius: 60px;
    display: inline;
    margin: 0px 0px 20px 0px;
    border: 2px solid #b0b8c2;
    opacity: .9;
}

.signup-form input {
    border: 1px solid #FF770D;
    border-right: none;
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
    color: #3e4956;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 17px 20px;
}


#mc-embedded-subscribe {
    background: #FF770D;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: inline-block;
    left: -4px;
    padding: 20px;
    position: relative;
    vertical-align: top;
}

#mc-embedded-subscribe .icon {
    background: #FF770D url('/assets/icon-sprite.png') no-repeat left 60%;
    display: block;
    height: 20px;
    font-size: 18px;
    line-height: 1;
    text-indent: -9999px;
    width: 31px;
}

/* Points */
.points {
    padding: 60px 50px 0 50px;
}

.point {
    float: left;
    margin-bottom: 50px;
    margin-right: 5%;
    width: 30%;
}

.last .point {
    margin-bottom: 0;
}

.point:nth-child(3n) {
    margin-right: 0;
}

.point h3 {
    color: #3E4956;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 5px;
    padding-left: 45px;
}

.sat h3 {
    background: url('https://cdn1.iconfinder.com/data/icons/munich/32x32/pencil.png') 
      no-repeat left top;
    background-position: left 5px;
}
.home h3 {
    background: url('https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/32x32/home.png') 
      no-repeat left top;
    background-position: left 0px
}
.homework h3 {
    background-position: left -105px;
    background: url('https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/32x32/finished-work.png') 
      no-repeat left top;
}
.email h3 {
    background-position: left -155px;
    background: url('https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/32x32/email.png') 
      no-repeat left top;
}
.schedule h3 {
    background-position: left -255px;
    background: url('https://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/32x32/calendar.png') 
      no-repeat left top;
}
.call h3 {
    background-position: left -205px;
    background: url('https://cdn1.iconfinder.com/data/icons/munich/32x32/contact.png') 
      no-repeat left top;
}

.point p {
    color: #9099A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
}