
.wrap {
    margin: 0 auto;
    width: 850px;
}

/* Footer */
footer {
    border-top: 1px solid #ddd;
    padding: 50px;
}

footer .column {
    float: left;
    width: 50%;
}

footer .column.last {
    text-align: right;
}

footer p {
    color: #9099A3;
    font-size: 14px;
    font-weight: 300;
}

footer a {
    color: #3E4956;
    font-size: 14px;
    margin-right: 15px;
}

footer a.orange {
    color: #ff770d;
    font-weight: 600;
    margin: 0;
}

#header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  padding: 40px;
}

#left-navigation {
  float: left;
  min-width: 300px;
}

#right-navigation {
  float: right;
}
/*
#right-navigation nav a {
    color: #ff770d; #b0b8c2;
    font-size: 14px;
    font-weight: 300;
    line-height: 60px;
}
*/
/*
#right-navigation nav a:hover {
    color: #ff770d;
}
*/



.legal h1 {
  color: #3E4956;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.legal h2 {
  color: #3E4956;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}

.legal p,
.legal li {
  color: #7d8287;
  font-size: 14px;
  line-height: 1.75;
}

.legal a[class="contact"] {
  color: #ff770d;
}

.legal p,
.legal ol {
  margin-bottom: 25px;
}

.legal ol {
  margin-left: 45px;
}

.legal p:last-child,
.legal ol:last-child {
  margin-bottom: 0;
}

.legal section {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 50px;
}

body {
  background-color: #f4f3f3;
}
