<!--<script type="text/javascript" charset="utf-8">
  window._token = '<%= form_authenticity_token -%>';
</script> -->
<%= stylesheet_link_tag "other" %>
<h2>Thanks, you paid <strong>$50.00</strong>!</h2>
<%= render 'shared/footer' %>