
<!DOCTYPE html>
<html>
  <head>
	<% provide(:title, 'Payments') %>

    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">

    <%= stylesheet_link_tag "about" %>

    <%= render 'shared/analytics' %>
  </head>

  <body> 
    <header id="header">
      <div class="wrap">
        <div id="left-navigation">
          <p> <a href="tel: +16466233224">(646) 623-3224</a> </p>
        </div>

        <div id="right-navigation">
          <p><a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        </div>
      </div>
    </header>

    <div class="wrap">
      <div class="posts">                
        <div class="post">
          <div class="text">
            <h2>Make a Payment</h2>
            <p>Sorry, this page is under construction.</p> 
          </div>              
        </div> <!-- end post -->

    <%= form_tag charges_path do %>
    <% end %>
      <article>
        <label class="amount">
          <span></span>
        </label>
      </article>

    <form action="" method="POST">
      <script
        src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="pk_test_Orr2yHPG9T8nMubTQZIXqJ7w"
        data-amount="2000"
        data-name="Sam Nebel Math Tutoring"
        data-description="tutoring services"
        data-image="">
      </script>
    </form>

    </div>
  </div>           
    
  <%= render 'shared/footer' %>  

  </body>
</html>