
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->

	<% provide(:title, 'Payments') %>

    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/munich/16x16/lightbulb.png">

    <%= stylesheet_link_tag "about" %>

    <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22937212-1']);
            _gaq.push(['_setDomainName', 'samnebel.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    </script>
</head>


<body>
    <!-- BEGIN Header --> 
    <header id="header">
    	<div class="wrap">
        	<div id="left-navigation">
          		<p> <a href="tel: +16466233224">(646) 623-3224</a> </p>
        	</div>

        	<div id="right-navigation">
        		<p><a href="mailto:sam@samnebel.com" target="_blank">sam@samnebel.com</a></p>
        	</div>
      	</div>
    </header>

    <div class="wrap">
        <div class="posts">                
                
            <div class="post">

                    
                <div class="text">
                    <h2>Make a Payment</h2>
                    <p>
                    </p> 
                </div>              
            </div> <!-- end post -->

        <form action='/create' method="post">
          <script
            src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="pk_test_Orr2yHPG9T8nMubTQZIXqJ7w"
            data-amount="2000"
            data-name="Demo Site"
            data-description="2 widgets ($20.00)"
            data-image="/128x128.png">
          </script>
        </form>

    </div>
  </div>           
    

    <footer>
        <div class="wrap">
            <nav>
            <div class="column">
                <%= link_to "Home", root_path %>
            </div>
            </nav>
            <div class="column last">
                <p>© Sam Nebel Math Tutoring 2011 &#x2022 <font color="#ff770d"><b>NYC</b></font></p>
            </div>
        </div>
    </footer>
    
</body>
</html>